* { /* parâmetro raíz para mexer com todo o projeto */
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Open Sans", sans-serif; 
    font-size: 16px;
    color: #1b1b1b;
    text-align: left;
    line-height: 22px;

}

body {
    background-color: #29292E;
    background-size: cover;
}

 #page {
    background-color: #F5F4F0;
    width: 1120px;
    padding: 88px;
    margin: auto;

}

h1 {
    font-family: "Open Sans", sans-serif; 
    font-size: 32px;
    color: #1b1b1b;
    line-height: 49px;
    margin-bottom: 40px;
    width: 275px;
    margin-top: 8px;
    
}

img {
    border-radius: 28px;
    margin-bottom: 24px;
}

section#pre {
    font-size: 16px;
    color:#E1624F;
    font-weight: bold;
    line-height: 22px;
    width: 183;
    margin-bottom: 8px;
   
}

section#subtitle {
    font-style: italic;
    text-align: center;
    line-height: 20px;
    padding-bottom: 40px;
}

section#ultimop {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin-top: 80px;
    
}

section#pre2 {
    color: #E1624F;
    font-weight: bold;
    margin-top: 64px;
    line-height: 22px;
}

h2 {
    padding-bottom: 8px;
    font-size: 32px;
    line-height: 44px;
}

section#pre3 {
    padding-bottom:64px;    
}

h3 {
    font-size: 28px;
    font-size: 28px;
    line-height: 38px;
    margin-top: 20px;
}

h3 img {
    border-radius: 600px;
}

footer {
    text-align: center;
    line-height: 150px;
    font-family: "Alice", serif;
}

footer img {
    vertical-align: middle; /*não está ficando no meio, verificar novamente*/

}

ol {
    
}

img#yongdusan {
    margin-bottom: 20px;
    margin-top: 48px;
}

img#beomeo {
    margin-bottom: 20px;*/
    margin-top: 48px;
}

img#haedong {
    margin-bottom: 20px;*/
}

section#pre4 {
    font-weight: bold;
}

section#historia{
    color: #0C51A7;
    padding-left: 25px;
    
}

section#pre5 {
    font-weight: bold;
}

section#pre6 {
    font-weight: bold;
}

section#casais {
   color: #591B98; 
   padding-left: 25px;
}

section#familias {
    color: #E5245E;
    padding-left: 25px;
}

section#orcamento {
    color: #E95E10;
    padding-left: 25px;
}

section#history{
    color: #0C51A7;
    padding-left: 25px;
    margin-bottom: 30px;
    list-style-type: disc;
}